.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 100%;
}

.result-item img {
  max-width: 64px;
}

.result-detail .details {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.result-list {
  width: 100%;
}

.list-group-item {
  width: 100%;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.main-title{
  margin: 20px;
  text-align: center;
}